Flask==0.10.1
Flask-Login==0.2.11
Flask-Permissions==0.2.3
Flask-SQLAlchemy==1.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.4
WTForms==2.0
Werkzeug==0.9.6
itsdangerous==0.24
pyserial==2.7
python-memcached==1.53
wsgiref==0.1.2
